<h1>Добавление товара</h1>
<div class="container-block">
  <div class="categories">
    <div class="categories-wrapper">
      <nav class="nav flex-column width200">
        <!-- <a class="nav-link active" aria-current="page" href="/catalog">Важное в мире</a> -->
        <form action="/addItem" name="addForm">
          <div class="input-wrapper">
            <div class="input">
              <label for="title-input" class="block mar-b-1 title-input mt-3">Название</label>
              <input id="title-input" name="name" type="text" tabindex="1" class="block w-100 ">
            </div>
            <div class="input">
              <label for="title-input" class="block mar-b-1 mt-3">Фото (url)</label>
              <input id="title-input" name="photo" type="text" tabindex="2" class="block w-100 ">
            </div>
          </div>
          <button type="submit" id="add" class="btn btn-primary mt-4">Добавить</button>
        </form>
      </nav>
    </div>
  </div>
  <div class="item-list">
    <div class="items-list-wrapper">
      {{#each allItems}}
        <div class="card mt-4" id="{{this.id}}" data-id="{{this.id}}" style="width: 18rem;">
          <div class="img-wrapper">
            <img src="{{this.img}}" class="card-img-top" alt="">
          </div>
          <div class="card-body">
            <div class="title-wrapper">
              <h5 class="card-title">{{this.name}}</h5>
            </div>
            <div class="form-wrapper">
              <form action="/delete/{{this.id}}">
                <button type="button" id="{{this.id}}" class="btn btn-primary btn-to-get-by-class">Удалить</button>
              </form>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
